*{
	margin: 0;
	padding: 0;
	outline: 0;
}
body{

	
}
ul li{
	list-style: none;
}

a{
	text-decoration: none;
}

body {


/*font-family: 'Gentium Book Basic', serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Smokum', cursive;
font-family: 'Spirax', cursive;
font-family: 'Yeseva One', cursive;
*/
}



.nav_menu{

	background-color: rgba(0,0,0,.09);
}
.navbar-nav .nav-item {

	margin-left: 20px;
}

.navbar-nav .nav-item .nav-link.active{

	color: tomato;
	font-family: 'Gentium Book Basic', serif;
	font-size: 21px;
	font-weight: 700;
}
.navbar-nav .nav-item .nav-link {

	color: white;
	font-family: 'Gentium Book Basic', serif;
	font-size: 21px;
	font-weight: 700;
}

.navbar-nav .nav-item .nav-link:hover {

	color:  tomato;
}
.navbar-nav .nav-item .social-link{

	color: #dab33e;
	
	font-size: 25px;
	margin-left: 15px;
}

#banner{

	background: url(../images/banner_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.banner_content{

	color: white;
	text-align: center;
}

.banner_content h1{

	font-family: 'Yeseva One', cursive;
	font-size: 90px;
	text-transform: lowercase;
	color: white;
	
	margin-top: 130px;


}
.banner_content img{



	margin-top: 10px;
	margin-bottom: 35px;
	
	position: block;

}
.banner_content button{

	padding: 15px 35px;

	color: white;
	text-align: center;
	margin-bottom: 70px;
	background-color: rgba(0,0,0,.5);
	border: transparent;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	

}
.button1{
	
	margin-right: 25px;
}

.banner_content button:hover{

	background-color: rgba(0,0,0,.2);
	
	transition: .5s;
}

.pro_cotent{

	text-align: center;
}

.pro_cotent h2{

	margin-top: 100px;
	margin-bottom: 20px;
	text-align: center;
	font-family: 'Yeseva One', cursive;
	font-size: 36px;
	color: #cc9900;
	
}


.pro_cotent p{

	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 14px;
	
	margin-left: 70px;
	margin-right: 35px;
	margin-top: 50px;
	margin-bottom: 40px;
}
.pro_cotent img{

	margin-bottom: 15px;
}
.pro_image{

	margin-top: 70px;
	margin-bottom: 70px;
	margin-left: 35px;
	margin-right: 35px;
}

.pro_image img{

	height: 100%;
	width: 100%;
	object-fit: contain;
}
#promo{

	background: url(../images/promo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
#ingredients{

	background: url(../images/ingredient_background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.ingredients-overlay{

	background-color: rgba(0,0,0,.5);
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: 600px;
	padding: 70px 70px;
}

.ingredients_ccontent{
	color: white;
	text-align: center;
}
.ingredients_ccontent h4{

	margin-bottom: 20px;
	font-size: 36px;
	color: white;
	font-family: 'Yeseva One', cursive;
	
}
.ingredients_ccontent p{

	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 15px;
	margin-top: 30px;
	margin-bottom: 60px;
	line-height: 25px;

}
.ingredients-divider img{

	width: 100%;
	height: 100%;
	object-fit: contain;
}
#menu{

	background: url(../images/menu_background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.menu_content{

	text-align: center;
	margin-bottom: 80px;
	margin-top: 80px;
	margin-left: 110px;
	margin-right: 110px;
	
}


.menu_content h4{

	margin-bottom: 20px;
	margin-top: 50px;
	font-size: 36px;
	color: #cc9900;
	font-family: 'Yeseva One', cursive;
	text-align: center;
	
}
 h5{
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 21px;
	color: #cc9900;
	font-family: 'Yeseva One', cursive;
	
	text-align: left;
	border-bottom: 1px solid;
	border-bottom-color: #cc9900;
}



.menu_content img{

	height: 100%;
	writing-mode: 100%;
	object-fit: contain;
}

.line1{

	word-spacing: 222px;
}

.line2{

	word-spacing: 120px;
}

.line3{

	word-spacing: 122px;
}
.line4{

	word-spacing: 157px;
}
.line5{

	word-spacing: 165px;
}
.line6{

	word-spacing: 167px;
}
.line7{

	word-spacing: 204px;
}
.line8{

	word-spacing: 168px;
}
.line9{

	word-spacing: 105px;
}
.line10{

	word-spacing: 149px;
}
.line11{

	word-spacing: 199px;
}

.menu_content p{

	margin-top: 0px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 14px;
	text-align: left;
	margin-bottom: 10px;

}
.regular{

	height: 70px;
	width: 380px;
	border: 1px solid ;
	border-color:#ecf1f1;
	padding-left: 10px;
	padding-right: 10px; 
}
.special{
	height: 70px;
	width: 380px;
	border: 1px solid ;
	border-color:#cc9900;
	padding-left: 10px;
	padding-right: 10px; 
}

.menu_content button{

	color: white;
	margin-left: 310px;
	padding-right: 10px;
	padding-left: 10px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 14px;
	border-color:#cc9900; 
	background-color:#cc9900; 
}
#review{

	background: url(../images/review.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.review_content{

	text-align: center;
	color: white;

}

.review_content h4{

	margin-bottom: 20px;
	padding-top: 75px;
	font-size: 36px;
		
	font-family: 'Yeseva One', cursive;

}

.quotetion p{

	font-family: 'Gentium Book Basic', serif;
	font-weight: 700;
	font-size: 25px;
	line-height: 40px;
	color: #dde0df;
	margin-left: 37px;
	margin-right: 37px;
	margin-top: 20px;
	text-align: center;
	
	position: relative;
	
}
.quotetion p::before{

	content: '\201c';

	font-family: 'Spirax', cursive;
	font-weight: 400;
	font-size: 100px;
	color: #949695;
	position: relative;
	left: -15px;
	top: 40px;
	
}


.quotetion h6{

	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 18px;
	margin-top: 25px;
	text-align: center;
	padding-bottom: 90px;

}

.review_overlay{

	background-color: rgba(0,0,0,.7);
	margin-top: 100px;
	margin-bottom: 100px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 180px;
	margin-right: 180px;

	
}

#reservation{
	background: url(../images/reservation_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.reservation_image{

	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: 0;
	margin-right: 0;

}
.reservation_image img{

	height: 100%;
	width: 100%;
	object-fit: contain;
}
.reservation_content{

	text-align: center;
	margin-top: 100px;
}

.reservation_content h4{

	margin-bottom: 20px;
	
	font-size: 36px;
	color: #cc9900;
	font-family: 'Yeseva One', cursive;


}

.reservation_content p{

	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 14px;
	margin-top: 20px;
	line-height: 20px;
	margin-left: 70px;
}
.form_reservation{

	margin-left: 70px;
}

.form_reservation form label{

	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 14px;
	color: #cc9900; 

}
.form_reservation form input::placeholder{

	padding-left: 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
	font-style: italic;
	text-transform: lowercase;
	color: #7c7c7c; 
}

.form_reservation form input:hover{
	border: 1px solid;
	border-color: #cc9900; 
}

#booking_date{

	padding-left: 18px;
	padding-right: 18px;

	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
	font-style: italic;
	text-transform: lowercase;
	color: #7c7c7c; 
}
#party_number{

	padding-left: 18px;
	padding-right: 40px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
	font-style: italic;
	text-transform: lowercase;
	color: #7c7c7c; 
	
}
#party_number:hover{
	border: 1px solid;
	border-color: #cc9900; 

}
.reservation_button{

	text-align: center;
	margin-top: 35px;
	margin-left: 70px;
	 
}

.reservation_button button{

	color: white;
	background-color:  #cc9900; 
	padding-right:40px;
	padding-left: 30px;
	padding-bottom: 5px;
	font-size: 15px;
	border-color: #cc9900; 

}
/*footer part css start*/

footer{

	background-color: #191919;
	padding-top: 50px;
	padding-bottom: 50px;
}
.footer_content{
	text-align: center;
	color: white;
}

.footer_about{
	text-align: center;
	color: white;

}
.footer_about h4{
	margin-bottom: 15px;
	font-size: 21px;
	font-family: 'Yeseva One', cursive;
}

.footer_about p{

	margin-top: 15px;
	/*margin-right: 100px;*/
	/*margin-left: 10px;*/
	line-height: 30px;
	font-size: 16px;
}

.footer_content h4{
	margin-bottom: 15px;
	font-size: 21px;
	font-family: 'Yeseva One', cursive;
}

.footer_content p{

	margin-top: 12px;
	
	line-height: 30px;
	font-size: 16px;
}


.footer_content ul li{
	float: left;
	margin-top: 40px;

}

.footer_content ul li a{

	color: white;
	margin-right: 10px;
	font-size: 20px;
}

ol, ul {
    padding-left: 7rem;
}



/*footer part css start*/